.productList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(260px, 270px));
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.productList>* {
  transition: transform 0.2s, box-shadow 0.2s;
}

.productList>*:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
