.header {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #007bff;
    color: white;
    gap: 20px;
}

h1 {
    font-size: 4rem;
    text-wrap: nowrap;
    margin: 0;
}

.cart {
    font-size: 1.4rem;
    text-wrap: nowrap;
}

.cart span {
    background-color: #fff;
    color: #007bff;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

@media screen and (max-width: 590px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 520px) {
    h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 470px) {

    .header {
        padding-right: 0;
    }

    h1 {
        font-size: 2.4rem;
    }
}
